[2015-05-23 15:18] stanonyime opened #2 "erlang error: :enoent on Windows"
I'm getting an  'enoent' on windows when I try the example code

[2015-05-25 17:17] route commented on #2
Hm I haven't tried it on windows at all, my bad. Any stack trace?

[2015-05-30 05:51] stanonyime commented on #2
It seems the cmd/2 system call does not work well on Windows.

[2015-10-18 22:34] trinode opened #4 "New release on hex?"
Hey, I've just been scratching my head as to why resize_to_fill wasn't working... turns out the version on hex.pm is out of date, is there any chance of getting the current code on there?

[2015-10-18 23:08] trinode commented on #4
Also, I needed to write an external function to set image quality, if this project is being actively maintained, and updated on hex, let me know and I'll do it properly and make a pull request, though I'm not sure how to test this one:-
[code]

[2015-10-26 13:06] route commented on #4
Hey @trinode yes will release it today. Sure it's active project I was on vacation though, but I spend time on this and other open source projects when I have strength =)

[2015-10-26 16:26] route commented on #4
Updated! Feel free to make `run` public, waiting for PR, thx

[2015-10-26 16:26] #4 closed

[2015-12-29 23:35] mguterl opened #6 "Proposal for API changes"
Hey @route, I am curious what you think about a few changes that I would like to propose. I have been working on these changes, but I wanted to run them by you before I submit a PR.

## Batch operations into a single command / copy by default

Right now if you want to change the format and resize an image, it will invoke the mogrify command multiple times. Instead I propose that we batch the opera

[2015-12-30 15:56] route commented on #6
@mguterl I thought about current design too and I agree with you! Go ahead let's make it better!

[2015-12-31 13:36] mguterl commented on #6
Thanks @route! I'll send something over in the next few days.

[2016-01-09 18:37] imranismail commented on #6
Hey @mguterl have you started working on this? I can help.

[2016-01-10 13:36] mguterl commented on #6
@imranismail - I have everything complete except format. https://github.com/mguterl/mogrify/tree/batch-operations-into-single-command

I was sick all of last week so I'm a bit behind, but finishing up format shouldn't be too hard. It is different than the other operations because it requires changing the extension of the filename generated.

[2016-01-11 07:55] route commented on #6
@mguterl no rush, it's done when it's done. Get better!

[2016-01-25 16:41] route commented on #6
Hey guys! Any updates?

[2016-02-03 04:53] mbriggs commented on #6
about to use mogrify for a work project, I wouldnt mind helping get this out if there is stuff still to be done

[2016-02-03 13:45] mguterl commented on #6
I haven't updated anything since my last comment, everything except for the format command is supported here: https://github.com/mguterl/mogrify/tree/batch-operations-into-single-command

[2016-02-03 18:04] tomjoro commented on #2
You should try running just "mogrify" from Windows shell. The 'enoent' error is also returned when the executable is not able to run directly from the shell.

[2016-02-03 19:12] tomjoro commented on #6
Hi, great stuff.. was looking at how this is progressing, and have a few questions/notes.

I've was looking at  https://github.com/minimagick/minimagick. In the current proposal (this issue) there's no way to differentiate between sequential execution, and combining options in a single run. It would be nice if it were possible to somehow specify this.

From minimagick:
[code]
Maybe?? " |> batch |>

[2016-02-03 19:43] mbriggs commented on #6
as someone who has done a LOT of work with minimagick, pretty much the only time you dont want to combine options is when you start working off of a different set of inputs. I think in terms of elixir syntax, it makes sense that combine_options maps to a pipeline, if you want to do a different set of operations on a new set of inputs, start a new pipeline.

[2016-02-04 16:40] #2 closed

[2016-02-04 18:17] route commented on #2
Thanks @tomjoro unfortunately (or fortunately) I don't have Windows.

[2016-02-14 14:15] route commented on #6
I'll pickup this work

[2016-02-28 02:34] MarcusSorealheis opened #8 "Cropping Issues"
Isn't `resize_to_fill` supposed to crop an image to preserve its aspect ratio?

[2016-03-02 22:43] #8 closed

[2016-04-15 22:51] talklittle commented on #6
Created a PR building off @mguterl's work, adding batching for `format/2` and the newer functions `auto_orient/1` and `custom/3`.

https://github.com/route/mogrify/pull/12

[2016-04-19 02:31] talklittle opened #13 "Mogrify should have a license"
Mogrify should have a license to make it explicit that it can be used in other projects.

Personally I think MIT makes sense ([Phoenix uses MIT](https://github.com/phoenixframework/phoenix/blob/master/LICENSE.md))

[2016-04-19 02:37] talklittle commented on #13
Oh, I see the `mix.exs` states Apache 2.0. Maybe it should be more prominent in the GitHub repo.

[2016-04-19 14:25] route commented on #13
Thank you for the big amount of work Andrew. I'm currently running out of time a bit and definitely will take a look ASAP

[2016-04-19 14:27] route commented on #13
About the license yes I'm fine with MIT. Now it's how mix generated the project. Mind opening a PR?

[2016-04-20 18:13] #13 closed

[2016-04-22 15:55] talklittle commented on #6
One change I made to the original proposal is giving `save/2` a couple options: `:in_place` and `:path`

So there's 3 variants:

[code]

[2016-04-22 16:23] talklittle opened #15 "'Plus' form command line options"
Sometimes helpful to specify the 'plus' form of an option, e.g. `+antialias` instead of `-antialias`

[2016-04-22 17:14] mguterl commented on #6
@talklittle this looks really good. I really appreciate you taking this over and pushing it to completion.

[2016-05-12 21:18] talklittle commented on #6
#12 was merged, so my first action as GitHub repo collaborator is to close this issue. Hooray

[2016-05-12 21:18] #6 closed

[2016-05-12 21:24] route commented on #6
Thanks everyone 👍

[2016-06-30 00:09] talklittle opened #18 "Elixir 1.3 warnings"
[code]

[2016-07-01 01:05] #18 closed

[2016-07-31 09:25] talklittle opened #20 "Identify animated images"
Can be parsed in `verbose()`

Animated images have frame index appended to path

[2016-08-01 17:01] #20 closed

[2016-08-16 21:44] talklittle opened #25 "Image.frame_count field"
`verbose/1` should count the number of frames, for animated images.

[2016-08-16 21:55] talklittle opened #26 "Image.width and height should be parsed into integers"
Currently width and height are binaries, so consumers of the mogrify library must parse them.

The library should parse them into integers.

Breaking change; would need to bump library version.

Created this issue for tracking purposes. Already have PR #24

[2016-08-17 00:03] talklittle opened #27 "Avoid changing file modified time if unmodified"
The mogrify command line tool is meant to overwrite existing files [1]. As such, even if you do `mogrify -verbose image.jpg` it will touch `image.jpg` and update its modification time. Would be ideal if this could be avoided.

[1]: https://www.imagemagick.org/script/mogrify.php

[2016-08-17 00:14] talklittle commented on #27
Potential solution: use option `-write /dev/null` for `verbose/1`

But what about Windows?

[2016-08-18 07:14] route commented on #27
Urgh it's to much hustle as usual with Windows :)

[2016-08-18 14:04] talklittle commented on #27
Haha yep. I tested on Windows and `NUL` works, thankfully.

[2016-08-23 21:42] #27 closed

[2016-08-23 22:00] #25 closed

[2016-08-23 22:06] #26 closed

[2016-10-14 15:07] #15 closed

[2016-11-23 09:27] webzepter opened #33 "Progressive JPEG support"
Currently Mogrify doesn't support generation of progressive JPEG images. It would be nice to add option to specify [interlacing scheme](http://imagemagick.org/script/command-line-options.php#interlace).

[2016-11-23 18:03] talklittle opened #34 "Organize options to support a large number of ImageMagick commands"
ImageMagick has so many command line options, we need to decide a better way to organize them in this library.

In the "FFmpex" library I catalog the options in simple structs, and use a macro to turn them into functions. https://github.com/talklittle/ffmpex/tree/master/lib/ffmpex/options -- Maybe we could use a similar approach in Mogrify?

[2016-11-23 18:03] talklittle commented on #33
For now, does `Mogrify.custom(image, "interlace", "line")` work as expected for you?

ImageMagick has so many command line options, we need to decide a better way to organize them in this library. I'm opening another issue to track this general problem. (#34)

[2016-12-31 00:20] notdevinclark opened #35 "File/Directory names with spaces are throwing errors"
I noticed that when you try and use `verbose` on an image with spaces in its name, or technically anywhere within its path, that it would throw an error. Like so:

```** (MatchError) no match of right hand side value: {"mogrify: unable to open image `/home/username/dir/mogrify/test/fixtures/ben\\': No such file or directory @ error/blob.c/OpenBlob/2712.\nmogrify: no decode delegate for this image

[2016-12-31 00:45] notdevinclark commented on #35
PR is linked and ready for review. Let me know if you have any questions or suggestions for changes.

[2016-12-31 03:13] #35 closed

[2016-12-31 03:14] talklittle commented on #35
Fixed by #36 for Mogrify v0.5.2

[2017-02-12 21:42] GustavoCaso commented on #34
@talklittle awesome work you guys doing. Just wanted to tell if no one is working on this one I would like to give back and contribute to some Elixir projects. I have been paying with Elixir for a while and would to help as much as possible.

Thanks Gustavo.

[2017-02-12 22:07] talklittle commented on #34
@GustavoCaso Sure, please do! I don't think anyone is actively working on this one. Thank you for offering.

[2017-02-17 18:19] sunboshan opened #38 "Mogrify.create/2 doesn't work on existing image"
Here I want to use `convert` to resize an image. `Mogrify.create/2` is using `convert` underneath.

[code]

However no image was created. Change the last line to `save(path: "/tmp/new.jpg")` works though.

[2017-03-17 01:25] shawnbro opened #39 "Custom to Run Composite"
I'm wondering if it's possible to run the `composite` command? (as specified here: http://www.imagemagick.org/Usage/layers/) with this wrapper.

[2017-03-17 01:36] talklittle commented on #39
No, this library does not support the `composite` command currently.

You could try the [Composite Operator of Convert](https://www.imagemagick.org/Usage/layers/#convert) with `Mogrify.create/2` which calls `convert`. (Unlike `Mogrify.save/2` which calls `mogrify`.)

[2017-03-17 01:41] shawnbro commented on #39
@talklittle would this work if I want to create a new image which is a combination of a few other images?

[2017-03-17 02:02] talklittle commented on #39
@shawnbro It sounds like it would work. But I haven't tried it before. If you do try it out, please report back on whether it worked for you.

You can probably do `image = Mogrify.custom(image, "composite")` to add the `-composite` operator to the list of operators. Might have to do some extra fussing around with it though, because from ImageMagick documentation it looks like ImageMagick uses slig

[2017-03-17 22:26] shawnbro commented on #39
I ended up doing this:

[code]

which merges `image_to_combine_path` image into `image_path` image.

[2017-03-17 22:26] #39 closed

[2017-03-24 11:43] hickscorp opened #40 "Not an issue: identify."
Good afternoon,

Fun package! Keep up the good work.
How about having the `identify` command available in Mogrify? It would be a very valuable addition. My concern is that one cannot really get the result of `identify` using the `custom` command, right?

I'm aware that `identify` is not part of the `mogrify` toolkit. Documentation is [here](https://www.imagemagick.org/script/identify.php) A good s

[2017-03-24 16:21] talklittle commented on #40
Does the mime-type you're looking for differ from the `image.format` you get from

    image = path |> Mogrify.open |> Mogrify.verbose

?

[2017-04-02 12:05] hickscorp commented on #40
@talklittle quite close to what I'm looking for. I will start taking the `format` reported by Mogrify and fit it within a `image/#{format}` mime-type. It should be sufficient for standard formats.

But imagine, for instance, an SVG image. What would be the Mogrify reported format, `svg`? The mime type for such format is `image/svg+xml`, so the output of `identify` should be more accurate.

I'll cl

[2017-04-02 12:05] #40 closed

[2017-07-09 23:40] Pjino opened #41 "Adding a watermark"
I think it is not possible yet to add another picture with an watermark on top of an image.
Are you considering that?
Thank you.

[2017-07-10 06:35] talklittle commented on #41
What ImageMagick command are you trying to use?

[2017-07-10 08:51] Pjino commented on #41
I was thinking `composite`.

[2017-07-10 17:44] talklittle commented on #41
You could try something like https://github.com/route/mogrify/issues/39#issuecomment-287486610

    image_operator(image, "convert -size:  1200x1200 #{image_path} \ #{image_to_combine_path}  -geometry  +0+10  -composite")
    |> create(in_place: true)

[2017-07-10 18:51] Pjino commented on #41
Thank you!
Maybe if you would put this in README you wouldn't be bothered anymore by someone asking for `composite` feature... :)

[2017-07-10 21:50] Pjino commented on #41
Well, after a few attempts I wasn't able to make any image_operator`work.
For example,
`image = open(Path.absname("priv/static/uploads/45992.png"))
  image_operator(image, "convert -resize:  50% ")
|> create(in_place: true)`
doesn't output nothing although I get no errors...

[2017-07-26 14:01] dyyce opened #42 "Base64 to img?"
Hey,

I'm currently stuck on resizing an image which I get from the **param** body as a base64 file.
My plan is to resize the **file/image** without saving it first and reopen it using the **open** function from _Mogrify_
Is there any way?

Cheers

[2017-07-26 17:16] talklittle commented on #42
Mogrify operates on files in the filesystem, so there's no direct way to operate on in-memory data in Elixir.

Alternatively you could look into tmpfs or RAM disk if those suit your requirements.

[2017-07-27 06:23] dyyce commented on #42
thank you. I will try to find a different approach 🙂

[2017-07-27 06:23] #42 closed

[2017-07-27 23:12] rkmax opened #43 "warning: crypto:rand_uniform/2 is deprecated and will be removed in a future release; use rand:uniform/1"
- Elixir (1.4.5)
- Erlang/OTP 20 [erts-9.0]
- mogrify 0.5.4

[2017-07-28 03:58] #43 closed

[2017-10-06 14:14] Barno opened #48 "Convert image in webp"
Can I convert a jpg in webp?

in my shell I can do it with

```convert foo.jpg -quality 50 wizard.webp```

In my module I try with

[code]
the output is {:ok}, but I don't have wizard.webp

[2017-10-06 16:18] talklittle commented on #48
Try

    Mogrify.open("public/foo.jpg") |> Mogrify.format("webp") |> Mogrify.save(path: "public/wizard.webp")

This library Mogrify should be returning an error but doesn't. That's a bug.

[2017-10-09 09:17] Barno commented on #48
in this way

`Mogrify.open("public/foo.jpg") |> Mogrify.format("webp") |> Mogrify.save(path: "public/wizard.webp")`

I can't create webp, the same command with jpg works

`Mogrify.open("public/foo.jpg") |> Mogrify.format("webp") |> Mogrify.save(path: "public/wizard.jpg")
`

[2017-10-09 16:35] Barno opened #49 "Image with Tilde"
After this operation on my image

`Mogrify.open("foojpg") |> Mogrify.image_operator("convert foo.jpg -auto-level -sharpen 0x2.1") |> Mogrify.save(path: "public/bar.jpg")`

in my Folder I have two files

bar.jpg and
bar.jpg~

Can I avoid bar.jpg~ ?

My version is:

[code]

[2017-10-09 17:28] talklittle commented on #49
You're using the library wrong. `Mogrify.image_operator("convert foo.jpg -auto-level -sharpen 0x2.1")` doesn't make sense, you're shoehorning a shell command where you should be putting an argument to the `mogrify` command-line program.

    open("foo")
    |> custom("auto-level")
    |> custom("sharpen", "0x2.1")
    |> save(...)

[2017-10-10 08:56] Barno commented on #49
Perfect, in that way i don't have file with tilde. Thanks!

[2017-10-10 08:57] #49 closed

[2017-12-01 20:15] gazoon opened #50 "does this library support "append" method?"
I need to concatenate two images, can i do it with this library?

[2017-12-03 08:51] talklittle commented on #50
Do you have the equivalent `mogrify` command-line command to demonstrate exactly what you are looking for?

[2017-12-03 09:47] gazoon commented on #50
Yes, sure. I need this:
`convert +append left_input_image.jpeg right_input_image.jpeg result_image.jpeg`
result_image.jpeg contains left_input_image.jpeg+right_input_image.jpeg

[2017-12-03 19:53] talklittle commented on #50
Hmm this library doesn't yet support multiple input images, nor have very good support for `convert` syntax in general (it's primarily for `mogrify` right now).

Your best bet is probably to use `System.cmd`, otherwise pull requests are welcome if you can think of a nice API to add the needed functionality to this library.

[2017-12-03 21:35] gazoon commented on #50
Ok, thx, i will use System.cmd

[2017-12-03 21:35] #50 closed

[2018-01-12 08:59] azatmurtazin opened #51 "Could you update docs version plz"
Now it looks like:

![img](https://i.imgur.com/7Dc1Ccr.png)

[2018-01-13 01:26] talklittle commented on #51
Thanks, fixed in 43fa160e7dd1714d4a53d4acb4001087eb63e142

https://hexdocs.pm/mogrify/Mogrify.html

[2018-01-13 01:26] #51 closed

[2018-02-23 14:32] GustavoCaso commented on #34
@talklittle how you doing? I'm working on this one 🎉

Following your other library what about this `DSL` for mogrify

[code]

[2018-02-28 12:27] Moggers opened #53 "`%Image{}` structure empty except for ext and path, `Mogrify.verbose/1` failing"
Opening a png in mogrify fails.

`** (MatchError) no match of right hand side value: {"/usr/bin/mogrify: symbol lookup error: /usr/lib/libraqm.so.0: undefined symbol: fribidi_get_bracket_types\n", 127}`

`img = Mogrify.open(file["path"]) |> IO.inspect() |> Mogrify.verbose()`

[2018-02-28 20:01] talklittle commented on #53
* ImageMagick version?
* libraqm version?
* Example PNG file that fails?
* What's the filename that is failing? `libraqm` and `fribidi` suggest it's a problem with text encoding.

[2018-03-01 04:18] Moggers commented on #53
Imagemagick 7.0.7.23
libraqm 0.5.0
http://placehold.it/300x300
File is named 300x300.png

[2018-03-05 18:50] #34 closed

[2018-03-05 18:54] talklittle opened #54 "Convert all existing operators to `Mogrify.Option` entries"
Followup to #34

[2018-03-05 19:38] GustavoCaso commented on #54
@talklittle I think I can continue working on this one 😄

[2018-03-05 19:51] talklittle commented on #54
@GustavoCaso Awesome, thanks!

I was thinking we should probably keep the existing functions around for a while, and take time to decide whether to deprecate them, or if there is a better way of delegating those functions to the new-style Options. Or if it makes sense to eventually remove them entirely. I'm not sure yet.

[2018-03-05 19:53] GustavoCaso commented on #54
@talklittle totally agree with you. I plan just adding all existing options and update `README` and generate docs 😄

[2018-03-14 15:15] mtrezza opened #55 "Support for Pango"
### Issue
While is it possible to use the ImageMagick command `draw`to create a text image with mogrify, it doesn't seem to support Pango for formatted text.
https://www.imagemagick.org/Usage/text/#pango

### Suggestion
Add support for Pango

[2018-03-30 05:43] tielur opened #56 "Write to standard out"
Does this library have the ability to create an image and then write to standard out without having to interact with the file system?

[2018-03-30 06:02] talklittle commented on #56
Not currently, but a pull request would be very welcome. I think most ImageMagick commands support writing to standard out.

[2018-04-17 19:55] talklittle commented on #55
Fixed in #57

[2018-04-17 19:55] #55 closed

[2018-05-08 01:19] bunnymatic opened #58 "Histogram doesn't seem to support srgba color sets..."
With the right (wrong) image, we have a histogram like this from image magic

[code]

and i believe the pattern matcher to extract a struct of color data from here doesn't work.

I put the histogram function together and will hopefully have a PR soon.  and will flesh out this report.

[2018-05-08 04:57] bunnymatic commented on #58
I've been running off my branch for a while and just decided to upgrade to the current master and realized that i never pushed up the fixes for this.

Hopefully this'll do the trick.

[2018-05-08 17:54] #58 closed

[2018-05-11 04:46] papakay opened #60 "Create not working"
Hi, I want to greatly commend the great work done with this library.

Please i'm having issue trying to create a thumbnail using the following syntax

{:mogrify, "~> 0.6.1"}

[code]

Please how can i resolve this? Thanks.

[2018-05-11 06:01] talklittle commented on #60
Use `save` instead of `create`

[2018-05-11 06:01] #60 closed

[2018-06-01 13:14] theangryangel commented on #56
I started looking at this as I kinda have a need for it as well. It looks fairly straight forward, but I'm struggling with what the API should look like (I think I've actually spent more time thinking about the API than it would to actually do the work based on what I'm looking at for the imagemagick docs 😓 )

For my usage I've got an inline base64 encoded image that I'd like to resize and get an

[2018-06-02 02:47] kungfu321 opened #61 "Save not working"
Hi, I want to greatly commend the great work done with this library.

Please i'm having issue trying to resize using the following syntax

{:mogrify, "~> 0.6.1"}

I'm run on terminal

`Mogrify.open("test.jpg") |> Mogrify.resize("100x100") |> Mogrify.save`

and error output

[code]

Please how can i resolve this? Thanks.

[2018-06-02 03:55] talklittle commented on #61
Do you have ImageMagick installed on your PATH? What happens when you type in your terminal shell:

    mogrify -resize 100x100 -write /tmp/977056-test.jpg /opt/app/test.jpg

[2018-06-02 04:29] kungfu321 commented on #61
oh, thanks you so much

[2018-06-02 04:29] #61 closed

[2018-06-05 09:13] theangryangel commented on #56
I spent an hour with this the other evening and its functionally working. Unfortunately;
* I broke a load of tests
* I'm not very pleased with the hacks and workarounds

Part of the pain is that a bunch of functions all assume the input and output are file system based and take actions based on extensions, the path, etc. which for *my* use case is a pain. For just output these mostly dont really m

[2018-11-20 19:47] kpanic commented on #56
Hello @theangryangel -- I am interested about this issue, do you have a branch with the "hack"?
I might give it a try.

[2018-11-20 20:51] kpanic commented on #56
@theangryangel I opened #62

[2018-11-25 19:53] talklittle commented on #56
Merged #62 which adds buffer support to `create/2`.

Before release I'd like to:

* Cleanup the API so `create/2` implementations return consistent types
* Look into whether buffer support is possible for `save/2`

[2018-11-26 11:43] route commented on #56
@talklittle thanks for you hard work

[2018-11-30 10:34] talklittle commented on #56
I'm looking into `mogrify` with the `-write -` option to write to stdout, for the `save/2` function. It kind of works except for a bug in the `mogrify` command-line application (tested with version 6.9.7-4) where it writes the buffer twice.

    $ mogrify -write - -resize 100x100 bender.jpg | wc -c
    8558

Compared with regular operation:

    $ mogrify -write tmp.jpg -resize 100x100 bender.jpg

[2018-12-01 22:12] kpanic commented on #56
Same behaviour on `6.9.10-14`

[code]

[2018-12-15 00:02] aselder opened #64 "Mogrify.create to buffer failing"
Hi,

I'm experimenting with the new buffer feature, but I'm running into an error when I call `create`.

I have an image, created from scratch.

If I call `img |> Mogrify.create(path: "/tmp/test.png")`, I get the image written to disk as I expect. However when I call `img |> Mogrify.create(buffer: true)`, I get the following error:

[code]

[2018-12-15 00:15] aselder opened #65 "Create and save should check exit code from System.cmd"
If something goes wrong during a `create` or `save`, it fails silently.

The new buffer code in `create` checks the exit status, but the old branch doesn't.

I'll work on whipping together a PR.

[2018-12-15 00:16] aselder commented on #64
[code]

[2018-12-15 00:20] talklittle commented on #64
See mogrify_test.exs `test "binary output"` you might need to explicitly specify stdout if you're using pango.

[2018-12-25 22:33] KamilZielinski commented on #2
I had the same issue, this lib doesn't work on Windows due to how it calls cmd (albo you always need to call `magick` on Windows which is missing in this lib. Unfortunately I don't feel fluent enough with Elixir to create PR.
In my case I had to call `cmd.exe` first with `/c` parameter so the rest of commands could be executed and I could get a return (without `/c` it's just stucked, see - [StackO

[2018-12-26 19:39] joshchernoff opened #66 "Image attributes are missing"
Why am I not seeing more information after I open an image via a path?

[code]

returns

[code]

from what I can tell all the operations work as expected but meta data such as `ext` or `width` / `height` information looks to be getting left out. Why?

[2018-12-26 19:49] joshchernoff commented on #66
Looks like I have to add |> verbose to my pipeline if I want that information. In addition it will become stale if an operation is performed such as scale and I will have to recall `|> verbose` to get the updated information.

[2018-12-27 00:18] #64 closed

[2018-12-27 02:48] joshchernoff commented on #66
As to the `question` label`, I'd assume this is a bug as the readme depicts that I should expect to see the height and width after opening and no where did I see it state that I would need to use the verbose function to get that information.

[2018-12-27 03:03] talklittle commented on #66
Thanks, updated the readme to fix that misleading comment.

[2018-12-27 03:03] #66 closed

[2018-12-27 03:05] joshchernoff commented on #66
Thanks for the clarification. 👍

[2018-12-31 02:27] joshchernoff opened #67 "Trying to setup testing on mac."
Trying to get some testing working but running into issue.

As far as I can tell I have  ImageMagick 7.0.8-21  installed.
[code]

But when trying to run the tests.

[code]

Thoughts?

[2018-12-31 02:31] talklittle commented on #67
Pango is a GNOME GTK thing so those failures can be ignored on Mac. We should probably disable those tests when Pango is not installed.

[2018-12-31 02:32] joshchernoff commented on #67
So in that regard I was trying to get the test running for this module so that I can learn to add like testing for my project. Any ideas how I would get a test running for something like.

[code]

[2018-12-31 02:38] talklittle commented on #67
Your file doesn't exist. Bad path.

[2018-12-31 02:40] joshchernoff commented on #67
derp, well at least I found something useful with my typo 😅

[2019-01-11 00:20] talklittle commented on #53
Apparently this error means you need to upgrade your fribidi version, likely to 1.0 or higher

https://www.imagemagick.org/discourse-server/viewtopic.php?t=33629

[2019-01-11 00:20] #53 closed

[2019-01-11 00:33] talklittle commented on #48
On Ubuntu you need to:

    sudo apt-get install webp

And then it will work with Mogrify. http://www.toontricks.com/2017/07/ubuntu-imagemagick-convert-cant-convert.html

This library should be reporting the error though, and it's not, filed as issue #65

[2019-01-11 00:35] #48 closed

[2019-04-01 15:16] angelo-moreira opened #72 "image not saved if the folder doesn't exist"
Following code doesn't create an image because the folder doesn't exist.

[code]

I can obviously check if the directory exists  and create it before saving the image, but is this something that `Mogrify.save()` should be doing or should it at least throw an error?

[2019-04-03 13:14] angelo-moreira commented on #72
@talklittle I am happy to submit a pull request for this, if the folder doesn't exist would you prefer to:
- raise
- return `{:error, :dir_not_created}` (or any other error tuple)
- create the directory

If creating the directory, should we try to create the directory recursively `File.mkdir_p` or just the first level `File.mkdir`?

[2019-04-03 18:16] talklittle commented on #72
I think `File.mkdir_p` makes sense. Thanks for pointing out the issue.

[2019-04-04 21:59] angelo-moreira opened #75 "create new image with background fails"
I have tried to create a simple image with a black background but that didn't work, the image was not created but no error was returned

[code]

After some investigation it looks like the background is not accepted and the argument should be canvas instead:
https://stackoverflow.com/questions/39504522/create-blank-image-in-imagemagick

Using canvas instead didn't work either
[code]

Is this a bug?

[2019-04-04 22:16] #67 closed

[2019-04-04 22:16] #72 closed

[2019-04-04 22:18] talklittle commented on #75
Which ImageMagick version do you have installed? This library generally targets v6. v7 may break some compatibility.

[2019-04-05 08:02] angelo-moreira commented on #75
Oh, that's why then, I am using v7.
Thank you

[2019-04-05 08:02] #75 closed

[2019-04-27 04:29] Faolain commented on #48
I'm having the same trouble on MacOS, is this to be expected @talklittle ?

[2019-05-26 18:12] kieraneglin opened #77 "Format isn't applied if an image is saved without an extension"
## Expected
I can format and save an image without an extension, like so:

[code]

## Actual
When performing the above actions, the newly saved file maintains its original type

## Workaround
[code]

[2019-05-27 04:13] talklittle commented on #77
Thanks for the report. Reproducible with test:

[code]

[2019-05-27 04:29] talklittle commented on #77
Seems like `convert` is more suitable in general. https://www.imagemagick.org/Usage/basics/#mogrify_convert

Probably not a viable solution here, though, since it will change too much of how this library works. We might need to use your workaround involving a temp file and renaming the result to the desired filename.

[2019-08-08 16:18] CaldwellYSR opened #78 "Adding text to an image"
I have an image that I want to add text to. For some reason the image will open and save a copy without any issues but I can't get the copy to be changed in any way.

[code]

The output in Iex looks like:

[code]

I've tried adding fill and stroke with `custom`. I've tried using `label`, `draw text`, and `annotate`. The saved image at the end is simply a copy of the original.

When I try to use `c

[2019-08-14 19:58] #78 closed

[2019-08-16 16:51] CaldwellYSR opened #79 "Annotate only prints one word of the annotation"
Trying to build an image I'm having trouble with multi-word annotations.

[code]

The resulting image just has "This".

[2019-08-16 18:40] #79 closed

[2019-08-19 19:25] CaldwellYSR commented on #79
Any ideas when this will make it to Hex? I don't want to delete my fork until it does.

[2019-08-20 00:47] talklittle commented on #79
@CaldwellYSR Mogrify 0.7.3 is on Hex now

[2019-12-09 16:44] pdgonzalez872 opened #84 "[Question] - Conversion from HEIC to jpg"
This is not an issue with the lib, just a question about it:

Is the conversion from `HEIC` as clean as to `png`? Looks like `ImageMagic` supports the conversion, so I was wondering if folks here have had experience with it before.

[code]

If the above "just works" it would be amazing.

Thanks for the lib!

[2019-12-11 08:19] route commented on #84
@pdgonzalez872 It's all the same, make sure you compiled ImageMagick with HEIC support (HEIC requires the libheif delegate library) and the conversion should work.

[2019-12-11 08:19] #84 closed

[2019-12-11 16:30] pdgonzalez872 commented on #84
Awesome! Thank you!

[2020-01-26 15:19] Ziinc opened #85 "System.cmd should call `magick mogrify` instead of `mogrify`"
When using the portable binary version of imagemagick, the correct command on unix systems is `magick mogrify`.

https://github.com/route/mogrify/blob/master/lib/mogrify.ex#L381

the direct call to `mogrify` would only apply when installed from source (if i'm not mistaken).
I receive the following error tuple when attempting to save using `Mogrify.save/2`:
[code]

Full error is as follows:
[code]

[2020-07-22 18:32] MarkZsombor commented on #65
I've opened a PR that handles this here https://github.com/route/mogrify/pull/88

[2020-07-27 09:05] bigbassroller commented on #85
In case someone else comes across this issue, I am not sure this is related, but I was able to solve similar error I was having only when using Docker container (Homebrew works fine). I had to add `imagemagick-dev` as well `imagemagick` to final build to fix.

[2020-08-10 20:51] talklittle commented on #65
Fixed in #88

[2020-08-10 20:51] #65 closed

[2020-08-10 21:29] talklittle commented on #85
This library adds ImageMagick executable path configuration support in v0.8.0 (#89). Hopefully that helps with this issue.

[2020-09-26 00:52] KamilZielinski opened #90 "Failing test(s) due to different resize output on Windows and Linux"
I tried to run tests on Windows but for some reason, my image was off by 1px which caused tests to fail.
One of them that I focused on:
[code]
The results it gives me are:
- Windows: 600x**585** (45.5kb)
- Linux: 600x**584** (49kb)

It seems like due to different OS (as I tested that on WSL and Windows on the same machine, so architecture shouldn't make a difference here) it gives me different res

[2020-09-26 01:29] talklittle commented on #90
Interesting issue. Thanks for reporting.

IMO we can assert width == 600 and height in [584, 585], with a comment as to why we are doing that.

[2020-11-19 08:20] Disinterpreter opened #91 "Image struct is not updated with new format when saved in-place"
I install magick on my windows and when I execute this code
[code]
It passed good, but images don't convert to webp.
Moreover inspect print this
[code]
To the console.

"ext:" still .png, but if we check out example from README.md ext was changed.

[2021-01-04 14:03] stonetwig opened #92 "Adding caption on image"
Hello, I use your library and thanks for all the great work

This "issue" is more of a question than anything else.
I am trying to add a caption onto an image but I think I am failing to understand how to use the custom method or if it even is supported?

This is what I have come up with when trying to add a caption via the convert command in imagemagick:

[code]

Is it possible somehow or is it n

[2021-01-27 06:55] bunnymatic opened #93 "extract_histogram_data is broken `Enumerable not implemented for nil of type Atom`"
In a recent mod, it appears that `extract_histogram_data` no longer works.  When I run tests (on a project that includes `mogrify`), I get the following error

[code]

I'm going to look into the issue and hopefully can have a PR up soon to address this.

I wanted to just document the fact that it's out there in case someone else has noticed issues.

[2021-01-27 07:29] bunnymatic commented on #93
This appears to be related to histogram entries from ImageMagick like
[code]

I think the regex is not matching the % signs (maybe).

[2021-01-30 04:00] bunnymatic commented on #93
Closed with https://github.com/route/mogrify/pull/94

[2021-01-30 04:00] #93 closed

[2021-01-30 19:39] bunnymatic commented on #92
I'm not an owner/maintainer here but I don't believe that is supported yet.  `label` and `caption` and `annotate` which are all ways to get text on an image require special command processing.

The following
[code]

generates a command like this:
[code]

But it really needs to build something with `label:'the label'`.  Additionally, when you use ImageMagick to create a `label` or `caption`, it is

[2021-05-16 17:07] lucacorti commented on #56
@talklittle I've opened an issue on imagemagick.

They are fixing it, but apparently you can pass `+write` instead of `-write` as a workaround for the double output.

[2021-05-21 20:49] anmlnath opened #97 "Issue overwriting image when in_place is not specified"
Running into an recent issue when using mogrify 0.8.0 to generate a thumbnail. It is generating the thumbnail file with the specified name, but it is also overwriting the original file with the thumbnail.

[code]

I think this issue started when upgrading to the latest imagemagick: stable 7.0.11-13.

Wondering if you have any insights or if you can reproduce it before opening an issue over at: htt

[2021-05-23 21:16] talklittle commented on #56
@lucacorti Thanks for opening the ImageMagick issue.

I tested the `+write` workaround (https://github.com/talklittle/mogrify/tree/save-buffer-pluswrite), and it works for the buffers, but with a side effect that breaks other functionality and Mogrify tests.

The documentation says (https://imagemagick.org/script/command-line-options.php#write):

It apparently tells ImageMagick to rewrite the inpu

[2021-07-02 12:39] yossarin commented on #97
This is really an awful bug. Spent a lot of time to catch it, especially when calling Mogrify.save() concurrently

[2021-07-02 13:53] sfusato commented on #97
I was going crazy until I finally figured out the issue. 30 mins ago I've updated my dev system (Manjaro) and I assume ImageMagick had an update as well.

I've downgraded ImageMagick (7.0.11.14-1 => 7.0.11.9-1) and the bug is no longer happening.

[2021-07-02 22:06] talklittle commented on #97
I have reported the bug upstream: https://github.com/ImageMagick/ImageMagick/issues/3893

Thanks to commenters who included their ImageMagick version numbers.

[2021-07-04 01:43] talklittle commented on #85
This is manageable by adding to config.exs:

[code]

[2021-07-04 01:43] #85 closed

[2021-07-04 01:48] talklittle commented on #97
The upstream behavior is apparently here to stay. So we have released mogrify v0.9.0 to fix this issue by using `convert` and `identify` executables, instead of `mogrify`, when it is undesirable to overwrite the input file. (`save/2` with `in_place: true` still uses `mogrify`.) See #99

Leaving this issue open for now for visibility.

[2021-07-04 23:07] talklittle commented on #77
Mogrify v0.9.0 (this library) uses `convert` instead of `mogrify` now (except when `in_place: true` is passed to `save/2`).

It still breaks in this case because the `convert` command will ignore the `-format` flag. The output file needs to explicitly contain the file extension. So we probably want to detect when the requested format does not match the requested path's file extension. In that case

[2021-07-04 23:40] talklittle opened #101 "Print the command-line command during, or instead of, execution"
Case 1: A configuration option to log the command when it is run.

Case 2: A `dry_run` option to skip running the command, and instead return the command that would be run. Either a binary string, or a tuple of `{command, [args]}` as would be passed to `System.cmd/3`

[2021-07-06 06:35] #77 closed

[2021-07-06 06:35] #91 closed

[2021-07-06 07:11] talklittle commented on #90
Closing this issue. I did not see this issue during testing on various ImageMagick versions 6.9.x and 7.x, Windows and Linux.

It was probably an upstream ImageMagick bug, which is no longer present in current IM versions. It's really hard to imagine when it would ever be correct to resize a 300x292 image to 600x585, when asked to resize up to a 600x600 bounding box. It's not like there's fraction

[2021-07-06 07:11] #90 closed

[2021-09-25 04:44] #97 closed

[2021-12-12 10:14] Masynchin opened #104 "(RuntimeError) missing prerequisite: 'convert'"
Following code raises this error:
[code]

Full traceback:
[code]

[2021-12-12 16:18] route commented on #104
Cause you don’t have imagemagick installed?

[2021-12-12 16:28] Masynchin commented on #104
I installed it via their launcher. I thinked it will be added to PATH automatically, but it wasn't. Thanks for answering

[2021-12-12 16:28] #104 closed

[2021-12-12 17:14] Masynchin opened #105 "Can I get size of buffered image?"
I want to render image blocks and then combine them into big one. To do this I need to calculate width and height of buffered images. I wrote [this code](https://github.com/Masynchin/ScheduleDrawer/blob/7d0ed28050365588c4870cb96e0ab5fc5549c319/lib/schedule_drawer.ex) with images manipulations that I looking for

[2021-12-12 20:38] route commented on #105
Issues is not a good place to ask questions. Use discussions

[2021-12-12 20:38] #105 closed

[2021-12-12 20:45] Masynchin commented on #105
Couldn't find on mobile (I can see discussions section in React-Router, but can't in there)

[2021-12-12 20:50] Masynchin commented on #105
Am I missing something?
![image](https://user-images.githubusercontent.com/47028153/145729087-d5a786a6-2a33-4880-86a3-50f33eeced81.png)
![image](https://user-images.githubusercontent.com/47028153/145729089-1bbdbda1-e604-4e96-a20c-67a42ce1f39e.png)

[2021-12-12 21:03] route commented on #105
Weird, I created welcome one. Please check once again https://github.com/elixir-mogrify/mogrify/discussions

[2022-02-04 08:04] Stefano1990 opened #108 "Limit memory?"
I'm facing an issue where I think mogrify might be blowing up my service because it consumes too much memory.

I'm not sure if the culprit really is mogrify but I would like to limit its memory to help me narrow down the search (if in fact it is not mogrify).

I couldn't get this to work with the `custom` command though.

[2022-06-17 07:05] michelson opened #110 "release new version?"
Hi, it seems that the latest changes from #109 are not yet released, could you release it in hex please?

thanks

[2022-06-24 04:38] talklittle commented on #110
Released mogrify version 0.9.2

[2022-06-24 04:38] #110 closed

[2022-07-28 10:36] sonic182 opened #111 "Svg to png font error"
Hi, do you know the safe way of converting SVG to PNG keeping the font style correct?

I have been trying it long time without success

I have something like this:

[code]

for mi local docker works

for my ubuntu prod it uses I don't know which font...

[2022-07-30 12:14] route commented on #111
Just install needed fonts on ubuntu. But first off it's not an issue, second it's not related to this repo as you are talking about imagemagick

[2022-07-30 12:14] #111 closed

[2022-08-22 08:02] #108 closed